[build-system]
requires = [
    "setuptools",
    "wheel",
    "numpy>=1.22",
    "Cython>=0.29.24"
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
markers = [
    "predict",
    "slow"
]

[tool.coverage.run]
source = [
    "passpredict"
]